// Font
baseFont = 'lato-ragular', sans-serif, arial
baseFont2 = 'montserrat-bold', sans-serif, arial

mainTitleFont = 'futuraptbold', sans-serif, arial
subTitleFont = 'merriweather-bold', sans-serif, arial

baseTitleFont = 'montserrat-bold', sans-serif, arial
baseTitleFont2 = 'merriweather-bold', sans-serif, arial

// Colors
darkColor = #000
blackColor = #202121
greyColor = #a7a7a7
whiteColor = #fff
blueColor = #92cdcf

mainTitleColor = blackColor
subTitleColor = blackColor
baseFontColor = greyColor

// z-index
$z-index1 = 999999999
$z-index2 = 99999999
$z-index3 = 9999999
$z-index4 = 999999
$z-index5 = 99999
$z-index6 = 9999
$z-index7 = 999
$z-index8 = 99
$z-index9 = 9