@import 'base/_typography.styl'
@import 'base/_reset.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

.intro__list
    display flex
    justify-content space-between
    padding 150px 0

.intro__item
    padding 0 30px
    flex 1 0 270px
    text-align center
    &:not(:last-child)
        margin-right 30px
    h3
        font 15px / 30px baseTitleFont
        text-transform uppercase
        color blackColor

.intro__pic
    margin-bottom 24px

.brand
    padding 150px 0

.brand__figure
    margin-bottom 110px
    text-align center

.brand__rows
    margin-bottom 100px

.brand__rows
    & > .brand__row
        display flex
        justify-content center
        &:not(:last-child)
            margin-bottom 30px
        & > .brand__col
            flex 1 0 271px
            &:not(:last-child)
                margin-right 30px

.brand__col
    flex 1 0 271px
    padding-top 160px
    &:not(:last-child)
        margin-right 30px

.brand__brand
    position relative
    z-index $z-index9

.brand__link,
.brand__img
    position absolute
    top 0 
    left 0
    width 100%
    height 100%

.brand__link
    bg = #f3f3f4

    z-index $z-index7
    display block
    background-color bg
    border 1px solid bg

.brand__img
    z-index $z-index8
    object-fit none

.brand__link:hover
    background-color whiteColor
    border 1px solid blackColor 

.news__inner
    padding 152px 0 

.news__header
    max-width 680px
    margin 0 auto
    padding-bottom 100px
    text-align center
    color blackColor
    img 
        margin 40px 0
        

.news__rows
    & > .news__row
        display flex
        justify-content center
        &:not(:last-child)
            margin-bottom 72px
        & > .news__col
            flex 1 0 271px
            &:not(:last-child)
                margin-right 30px

.news__news
    text-align center
    cursor pointer
    span 
        font-size 12px
        line-height 14px
        text-transform uppercase
    h3
        margin-bottom 12px
        font 18px / 31px baseTitleFont2
        color blackColor 

.news__pic
    position relative
    z-index $z-index9
    margin-bottom 28px
    padding-top 300px
    & > img 
        position absolute
        top 0 
        left 0
        width 100%
        height 100%
        object-fit cover

.news__hover
    position absolute
    top 0
    left 0
    z-index $z-index7
    display none
    width 100%
    height 100%
    justify-content center
    align-items center
    background-color rgba(blueColor,.9)
    &::after
        position absolute
        top 2.5%
        left 2.5%
        z-index -1
        width 95%
        height 95%
        border 5px solid whiteColor
        content ''
    a
        font 14px / 32px baseFont2
        text-transform uppercase
        color rgba(whiteColor,.9)
        &:hover
            color whiteColor

.news__cont
    padding 0 36px

.news__news:hover
    .news__hover
        display flex
        &::after
            display block
    h3
        color blueColor

.amaz
    background url('img/content/amazing/1.png') no-repeat center / cover

.amaz__inner
    padding 300px 0

.amaz__header
    color blackColor
    img 
        margin 20px 0

.amaz__row
    display flex

.amaz__col
    padding-right 5%
    flex-basis 50%

.amaz__text
    padding-right 35%

.sign__inner
    padding 150px 0

.sign__title
    font 32px / 1 baseTitleFont2
    text-transform inherit
    text-align center
    color blackColor

.sign__form
    max-width 430px
    margin 100px auto
    text-align center

.sign__input
    width 100%
    padding 30px
    font 14px / 30px baseFont2
    text-align center
    color blackColor
    border-bottom 1px solid blackColor
    &::-webkit-input-placeholder
        text-transform uppercase
    &::-moz-placeholder
        text-transform uppercase
    &:-moz-placeholder
        text-transform uppercase
    &:-ms-input-placeholder
        text-transform uppercase

@import 'components/_carousel.styl';
@import 'components/_social.styl';

@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_footer.styl'