extends layout/_layout

block title
    | TheFox

block content 
    main.page__main
        //- section hero
        section.sect.hero
            
            header.header
                //- toggle
                button(type="button").navbar-toggle.header__toggle
                    span.visually-hidden Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                //- toggle end

                //- mainnav
                .header__nav
                    h2.header__logo.logo
                        img(src="img/general/logo.png", alt="logo pic")
                        span the
                        | fox
                    nav.mainnav
                        ul
                            li
                                a(href="javascript:void(0);") New In
                            li
                                a(href="javascript:void(0);") Woman                   
                            li
                                a(href="javascript:void(0);") Trf
                            li
                                a(href="javascript:void(0);") Man
                            li
                                a(href="javascript:void(0);") Kids
                            li
                                a(href="javascript:void(0);") Editorials
                            li
                                a(href="javascript:void(0);") Sale
                //- mainnav end

            .hero__slider#slider
                .hero__wrap
                    //- slide-1
                    .hero__slide(style="background: url('img/content/hero/photo-1433245437947-a0595ee871181.png') no-repeat center / cover")
                        .container
                            .hero__slide-cont
                                img(src="img/content/hero/fashion.png", alt="pic").hero__slide-main-img
                                h3
                                    | The summer is coming
                                img(src="img/general/line.png", alt="pic")

                    //- slide-1 end

                    //- slide-1
                    .hero__slide
                        .container
                            .hero__slide-cont
                                
                    //- slide-2 end

                    //- slide-3
                    .hero__slide
                        .container
                            .hero__slide-cont
                    //- slide-3 end

                    //- slide-4
                    .hero__slide
                        .container
                            .hero__slide-cont
                    //- slide-4 end
                        .container
                    //- slide-5
                    .hero__slide
                        .container
                            .hero__slide-cont
                    //- slide-5 end
                        
                    //- slide-6
                    .hero__slide
                        .container
                            .hero__slide-cont
                    //- slide-6 end

                    //- slide-7
                    .hero__slide
                        .container
                            .hero__slide-cont
                    //- slide-7 end

            //- bottom pannel
            .hero__bottom
                .container
                    p.nb
                        | Get thefox SPECIAL today, this will save many time for your project.

                    a(href="javascript:void(0);").btn.btn_type_transparent.hero__btn.hero__download Download Now
            //- bottom pannel end
        //- section hero end

        //- section intro
        section.sect.intro
            h2.visually-hidden Intro

            .container
                ul.intro__list
                    //- #1
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/awesome.png", alt="looks awesome pic")
                        h3 Looks awesome
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #1 end

                    //- #2
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/design.png", alt="great design pic")
                        h3 Great design
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #2 end

                    //- #3
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/freebie.png", alt="good freedie pic")
                        h3 Good freebie
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #3 end

                    //- #4
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/flexibility.png", alt="flexibility pic")
                        h3 Flexibility
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #4 end
        //- section intro end

        //- section promo
        section.sect.promo
            .promo__inner
                .container
                    .promo__row
                        .promo__col
                            h2.promo__title.sect__title 
                                | spring <br>
                                span summer
                            p / Chapter 1.
            img(src="img/content/promo/5431074400_1_1_1.png", alt="promo first pic").promo__graphic.promo__graphic-1
            img(src="img/content/promo/4876045251_2_2_1.png", alt="promo second pic").promo__graphic.promo__graphic-2
        //- section promo end

        //- section brand
        section.sect.brand
            .brand__inner
                .container
                    h2.visually-hidden Branding 

                    .brand__figure
                        img(src="img/general/rectangle22.png", alt="figure pic")

                    .brand__rows
                        .brand__row
                            //- #1
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/1.png", alt="brand pic").brand__img
                            //- #1end

                            //- #2
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/2.png", alt="brand pic").brand__img
                            //- #2end
                            
                            //- #3
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/3.png", alt="brand pic").brand__img
                            //- #3end
                            
                            //- #4
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/4.png", alt="brand pic").brand__img
                            //- #4end
                            
                        .brand__row
                            //- #1
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/5.png", alt="brand pic").brand__img
                            //- #1end
                            
                            //- #2
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/6.png", alt="brand pic").brand__img
                            //- #2end
                            
                            //- #3
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/7.png", alt="brand pic").brand__img
                            //- #3end
                            
                            //- #4
                            .brand__col
                                .brand__brand
                                    a(href="javascript:void(0);").brand__link
                                        img(src="img/content/brand/8.png", alt="brand pic").brand__img
                            //- #4end

                    .caro#carousel
                        .caro__wrap
                            .caro__slide(data-slide="1")
                                .caro__quot
                                    img(src="img/general/quot.png", alt="quotation pic").caro__quot-img

                                .caro__text
                                    p
                                        | No doubt, it's truly multi-purpose, even header and footer changed
                                        | based on layout type, like portfolio, shot etc. Simply love it !
                                span.caro__name.nb
                                    | - paktemplates -
                            
                            .caro__slide(data-slide="2")
                                .caro__quot
                                    img(src="img/general/quot.png", alt="quotation pic").caro__quot-img

                                .caro__text
                                    p
                                        | No doubt, it's truly multi-purpose, even header and footer changed
                                        | based on layout type, like portfolio, shot etc. Simply love it !
                                span.caro__name.nb
                                    | - paktemplates -

                            .caro__slide(data-slide="3")
                                .caro__quot
                                    img(src="img/general/quot.png", alt="quotation pic").caro__quot-img

                                .caro__text
                                    p
                                        | No doubt, it's truly multi-purpose, even header and footer changed
                                        | based on layout type, like portfolio, shot etc. Simply love it !
                                span.caro__name.nb
                                    | - paktemplates -

                            .caro__slide(data-slide="4")
                                .caro__quot
                                    img(src="img/general/quot.png", alt="quotation pic").caro__quot-img

                                .caro__text
                                    p
                                        | No doubt, it's truly multi-purpose, even header and footer changed
                                        | based on layout type, like portfolio, shot etc. Simply love it !
                                span.caro__name.nb
                                    | - paktemplates -
                        ul.caro__nav
                            //- #1
                            li
                                button(type="button", data-target-slide="1").caro__dot
                            //- #1 end

                            //- #2
                            li
                                button(type="button", data-target-slide="2").caro__dot
                            //- #2 end

                            //- #3
                            li
                                button(type="button", data-target-slide="3").caro__dot
                            //- #3 end

                            //- #4
                            li
                                button(type="button", data-target-slide="4").caro__dot
                            //- #4 end
        //- section brand end

        //- section summ
        section.sect.summ
            .summ__inner
                .container
                    .summ__row
                        .summ__col
                            .summ__header
                                h2.summ__title.sect__title Summer
                                p Chapter 2
                                img(src="img/general/line.png", alt="figure pic")
                            .summ__text
                                p.nb
                                    | Lorem ipsum dolor sit amet, consectetur
                                    | isicing elit, sed do eiusmod tempor 
                                    | incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
        //- section summ end

        //- section news
        section.sect.news
            .news__inner    
                .container
                    .news__header
                        h2.news__title.sect__title The News
                        p The Simple Article
                        img(src="img/general/rectangle22.png", alt="pic")
                        p.nb.news__inf
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam.
                    .news__rows
                        //- News row-1 
                        .news__row
                            //- #1 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1453857122308-5e78881d7acc.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #1 end

                            //- #2 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1453617730988-e8e6fb912dd4.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #2 end

                            //- #3 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1451650804883-52fb86cc5b18.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #3 end
                        //- News row-1 end

                        //- News row-2
                        .news__row
                            //- #1 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1453617730988-e8e6fb912dd4.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #1 end

                            //- #2 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1427309084144-33d7664eef17.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #2 end

                            //- #3 
                            .news__col
                                .news__article
                                    .news__pic
                                        .news__hover
                                            a(href="javascript:void(0);") View Full Article
                                        img(src="img/content/news/photo-1454953979469-0abf41f448d0.png", alt="news pic")
                                    .news__cont
                                        span.nb Trending
                                        h3 Standard Blog Post
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #3 end
                        //- News row-2 end
                    a(href="javascript:void(0);").btn.btn_type_transparent View All Articles
        //- section news end

        //- section amaz
        section.sect.amaz
            .amaz__inner
                .container
                    .amaz__row
                        .amaz__col
                            .amaz__header
                                h2.amaz__title.sect__title Amazing
                                p Chapter 3.
                                img(src="img/general/rectangle22.png", alt="figure pic")
                            .amaz__text
                                p.nb
                                    | Lorem ipsum dolor sit amet, consectetur
                                    | isicing elit, sed do eiusmod tempor 
                                    | incididunt ut labore et dolore magna aliqua. 
                                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                            a(href="javascript:void(0);").btn.btn_type_black Check Our Style
        //- section amaz end 

        //- section sign
        section.sect.sign
            .sign__inner
                .container
                    h2.sign__title.sect__title Sign Up Thefox Newsletter

                    form(action="").sign__form#form
                        label(for="email").visually-hidden Email
                        input(type="text", name="email", placeholder="Enter your email here").sign__input#email
                        
                    footer.footer
                        .footer__social.social
                            ul.social__list
                                li.social__item
                                    a(href="javascript:void(0);").social__link Instagram
                                li.social__item
                                    a(href="javascript:void(0);").social__link Facebook
                                li.social__item
                                    a(href="javascript:void(0);").social__link Twitter
        //- section sign end