extends layout/_layout

block title
    | TheFox

block content 
    main.page__main
        section.sect.intro
            h2.visually-hidden Intro

            .container
                ul.intro__list
                    //- #1
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/awesome.png", alt="looks awesome pic")
                        h3 Looks awesome
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #1 end

                    //- #2
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/design.png", alt="great design pic")
                        h3 Great design
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #2 end

                    //- #3
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/freebie.png", alt="good freedie pic")
                        h3 Good freebie
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #3 end

                    //- #4
                    li.intro__item
                        .intro__pic
                            img(src="img/content/intro/flexibility.png", alt="flexibility pic")
                        h3 Flexibility
                        p
                            | Lorem ipsum dolor sit amet
                            | Consectetur adipisicing elitsed do eiusmod tempor incidid
                            | labore et dolore magna aliqua.
                    //- #4 end

        section.sect.brand
            .brand__inner
                .container
                    h2.visually-hidden Branding 

                    .brand__figure
                        img(src="img/general/rectangle22.png", alt="figure pic")

                    .brand__rows
                        .brand__row
                            //- #1
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/1.png", alt="brand pic").brand__img
                            //- #1end

                            //- #2
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/2.png", alt="brand pic").brand__img
                            //- #2end
                            
                            //- #3
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/3.png", alt="brand pic").brand__img
                            //- #3end
                            
                            //- #4
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/4.png", alt="brand pic").brand__img
                            //- #4end
                            
                        .brand__row
                            //- #1
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/5.png", alt="brand pic").brand__img
                            //- #1end
                            
                            //- #2
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/6.png", alt="brand pic").brand__img
                            //- #2end
                            
                            //- #3
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/7.png", alt="brand pic").brand__img
                            //- #3end
                            
                            //- #4
                            .brand__col.brand__brand
                                a(href="javascript:void(0);").brand__link
                                    img(src="img/content/brand/8.png", alt="brand pic").brand__img
                            //- #4end

                    .caro#carousel
                        .caro__wrap
                            .caro__slide
                                .caro__quot
                                    img(src="img/general/quot.png", alt="quotation pic").caro__quot-img

                                .caro__text
                                    p
                                        | No doubt, it's truly multi-purpose, even header and footer changed
                                        | based on layout type, like portfolio, shot etc. Simply love it !
                                span.caro__name.nb
                                    | - paktemplates -
                        ul.caro__nav
                            //- #1
                            li
                                button(type="button").caro__dot
                            //- #1 end

                            //- #2
                            li
                                button(type="button").caro__dot
                            //- #2 end

                            //- #3
                            li
                                button(type="button").caro__dot
                            //- #3 end

                            //- #4
                            li
                                button(type="button").caro__dot
                            //- #4 end

        section.sect.news
            .news__inner    
                .container
                    .news__header
                        h2.news__title.sect__title The News
                        p The Simple Article
                        img(src="img/general/rectangle22.png", alt="pic")
                        p.nb.news__inf
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Ut enim ad minim veniam.
                    .news__rows
                        //- News row-1 
                        .news__row
                            //- #1 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1453857122308-5e78881d7acc.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #1 end

                            //- #2 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1453617730988-e8e6fb912dd4.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #2 end

                            //- #3 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1451650804883-52fb86cc5b18.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #3 end
                        //- News row-1 end

                        //- News row-2
                        .news__row
                            //- #1 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1453617730988-e8e6fb912dd4.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #1 end

                            //- #2 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1427309084144-33d7664eef17.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #2 end

                            //- #3 
                            .news__col.news__news
                                .news__pic
                                    .news__hover
                                        a(href="javascript:void(0);") View Full Article
                                    img(src="img/content/news/photo-1454953979469-0abf41f448d0.png", alt="news pic")
                                .news__cont
                                    span.nb Trending
                                    h3 Standard Blog Post
                                    p
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            //- #3 end
                        //- News row-2 end

        