.btn
    display inline-block
    height 60px
    padding 0 50px
    font 13px / 56px baseFont2
    text-transform uppercase
    color blackColor
    border 2px solid blackColor
    &_type_black
        color whiteColor
        background-color blackColor
    &_type_transparent
        color blackColor 
        background-color transparent
