.mainnav
    li
        &:last-child
            margin-top 50px
    a
        font 16px / 36px baseFont2
        text-transform uppercase
        color whiteColor
        &:hover
            text-decoration underline