.social
    text-align center

.social__item
    display inline-block
    &:not(:last-child)
        margin-right 53px

.social__link
    font 10px / 1 baseFont2
    text-transform uppercase
    color rgba(blueColor,.7)
    &:hover
        color blueColor