.navbar-toggle
    position absolute
    top 0 
    right 0
    z-index $z-index8
    width 20px
    margin 50px
    cursor pointer
    .icon-bar
        display block
        height 3px
        background-color whiteColor
        &:not(:last-child)
            margin-bottom 3px